<%= form_for(@feild) do |f| %>
  <% if @feild.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feild.errors.count, "error") %> prohibited this feild from being saved:</h2>

      <ul>
      <% @feild.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :feildId %><br>
    <%= f.number_field :id %>
  </div>
  <div class="field">
    <%= f.label :feildName %><br>
    <%= f.text_field :feildName %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
