<p id="notice"><%= notice %></p>

<p>
  <strong>Feildid:</strong>
  <%= @feild.feildId %>
</p>

<p>
  <strong>Feildname:</strong>
  <%= @feild.feildName %>
</p>

<%= link_to 'Edit', edit_feild_path(@feild) %> |
<%= link_to 'Back', feilds_path %>
