<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :courseId %><br>
    <%= f.number_field :courseId %>
  </div>
  <div class="field">
    <%= f.label :courseDescription %><br>
    <%= f.text_field :courseDescription %>
  </div>
  <div class="field">
    <%= f.label :fieldId %><br>
    <%= f.number_field :fieldId %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
